{% if page.footer_small_prints %}
    <section class="py-0 border-white border-top">
        <div class="container">
            <div class="row">
                <div class="col-12 pb-2">
                    {{ page.footer_small_prints }}
                </div>
            </div>
        </div>
    </section>
{% endif %}
