{% if page.brand %}
  <section>
    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="it-brand-wrapper  pt-0">
          {{ page.footer_brand }}
        </div>
      </div>
    </div>
  </section>
{% endif %}
