<div class="c-line lightgrey-bg-a1">
    <div class="container main-container js-quickedit-main-content" style="padding-left: 18px; padding-right: 18px;">
        <div class="row" >
            <div class="col">
              {{ ds_content }}
            </div>
        </div>
    </div>
</div>