<div class="c-line lightgrey-bg-a1" style="margin-left:-6px; margin-right:-6px;">
    <div class="container pl-4 pr-4" style="padding-top:14px;">
        <div class="row" >
            <div class="col">
              {{ ds_content }}
            </div>
        </div>
    </div>
</div>