<div class="c-line lightgrey-bg-a1" style="margin-right: -6px;margin-left: -6px; padding-top: 50px; padding-bottom: 100px;">
    <div class="container main-container js-quickedit-main-content pl-4 pr-4">
        <div class="bg-white border pr-4 pl-4 dettaglio-notizie-body">
            <div class="row">
                <div class="col-12 col-lg-12 col-md-12">
                    {{ ds_content }}
                </div>
            </div>
        </div>
    </div>
</div>